* {
  font-family: 'Muli', sans-serif;
}
h1 {
  font-weight: 800;
}
#wrapper {
  display: flex;
  justify-content: center;
}
#title_container {
  display: flex;
  justify-content: space-around;
  /*align-items: center;*/
}
#language_container {
  display: flex;
  justify-content: space-around;
}
#language_container > h5 {
  margin-top: 0px;
}

/* search styles*/

#search_div {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
#search_icon {
  background-color: cadetblue;
  padding: 6px;
  width: 2em;
  border-radius: 1px 6px 6px 1px;
  display: inline;
  margin-left: -29px;
  margin-top: 1px;
}
#search_icon:hover {
  background-color: rgba(95, 158, 160, 0.7);
}
#holder {
  max-width: 80%;
  margin: 0 auto;
}
#results_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
#search_term {
  border: 2px solid cadetblue;
  height: 2.5em;
  border-radius: 8px;
  padding: 6px;
  width: 70%;
  display: flex;
  align-items: flex-end;
}
#get_random_article {
  margin: 1em 0;
  display: flex;
  justify-content: center;
}
#random_icon {
  margin: 0 .3em;
}
#results_container> li> * {}
#results_container> li {
  height: 100%;
  list-style: none;
  background-color: #FFF8CC;
  margin-bottom: 1em;
  padding: 7px 7px;
  width: 80%;
  border: 2px solid #B2AB7D;
  position: relative;
}
#results_container> li> img {
  width: 130px;
  position: absolute;
  top: .3em;
}
#results_container> li> p {
  max-width: 85%;
}
#results_container > li:hover {
  background-color: rgba(255, 248, 204, 0.6);
}
li a {
  color: black;
  font-size: 1.2em;
}
li a:hover {
  color: #066872;
}

li> img {
  right: 1em;
  top: 2em;
  position: relative;
}

/*media queries*/

@media only screen and (min-device-width: 320px)
              and (max-device-width: 568px) {
                #results_container> li {
                  width: 95%;
                }
              }
