#search_term {
  border: 2px solid cadetblue;
}
#results_container li {
  height: 2.5em;
  list-style: none;
  background-color: grey;
  margin-bottom: 1em;
  padding: 7px;
  width: 40%;
}
li a {
  color: white;
}
li a:hover {
  color: black;
}
.icon {
  position: absolute;
  margin-left: -1.5em;
  margin-top: .12em;
}
